# Copy this file to .env and edit values as needed. Do NOT commit secrets to version control.

# Spring / Application
SPRING_APPLICATION_NAME=image
SERVER_SERVLET_CONTEXT_PATH=/image-tools/api
ALLOWED_IMAGE_EXTENSIONS=png,jpg,jpeg

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://1111:5432/imagetools
SPRING_DATASOURCE_USERNAME=user
# SPRING_DATASOURCE_PASSWORD=your_db_password_here
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# JPA
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_JDBC_LOB_NON_CONTEXTUAL_CREATION=true

# Output and temp files
OUTPUT_DIRECTORY=./output-dir
TEMP_FILE_MAX_AGE_HOURS=24
TEMP_FILE_AUTO_CLEANUP_ENABLED=true
TEMP_FILE_CLEANUP_INTERVAL_MINUTES=60

# External services
REMOVE_BG_URL=http:/1111:8000/remove-bg/birefnet-general

# Docker runtime / container control
JAVA_OPTS="-Xms512m -Xmx1024m"
LOCAL_UID=1000
LOCAL_GID=1000

