SPRING_DATASOURCE_URL=datasource:jdbc:postgresql://
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password

SPRING_DATA_REDIS_HOST=111.1111.111
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=password
SPRING_DATA_REDIS_TIMEOUT=5000ms
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_ACTIVE=10
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_IDLE=5
SPRING_DATA_REDIS_LETTUCE_POOL_MIN_IDLE=1

AWS_S3_ACCESS_KEY=aws_access_key_example
AWS_S3_SECRET_KEY=aws_secret_key_example
AWS_S3_REGION=aws_region_example
AWS_S3_BUCKET_NAME=aws_bucket_name_example
AWS_S3_ENDPOINT_URL=https://s3api-eur-is-1.runpod.io
AWS_S3_PRESIGNED_URL_EXPIRATION_MINUTES=60

MINIO_S3_ACCESS_KEY=minio_access_key_example
MINIO_S3_SECRET_KEY=minio_secret_key_example
MINIO_S3_REGION=mini_region_example
MINIO_S3_BUCKET_NAME=mini_bucket_name_example
MINIO_S3_ENDPOINT_URL=minio_endpoint_url_example
MINIO_S3_PRESIGNED_URL_EXPIRATION_MINUTES=60